<div class="container text-center">
    <a class="btn btn-info btn-lg" href (click)="onClickSignOutOfSteam()" role="button">Sign out of Steam</a>
    <br>
    <br>
    <div class="form-row mb-3">
        <!--<div class="col">
            <button type="button" class="btn">Reset</button>
        </div>-->
        <div class="col">
            <label for="maximum-hours-played">Playtime</label>
            <select id="maximum-hours-played" [(ngModel)]="filters.maximumPlaytime" class="form-control">
                <option value="10000000000000000000000">All</option>
                <option value="180000">Up to 50 hours</option>
                <option value="36000">Up to 10 hours</option>
                <option value="7200">Up to 2 hours</option>
                <option value="3600">Up to 1 hour</option>
                <option value="0">Unplayed</option>
            </select>
        </div>
        <!--<div class="col">
            <label for="maximum-hours-">Completion Time</label>
            <select id="maximum-hours-played" [(ngModel)]="filters.maximumHoursCompletion" class="form-control">
                <option value="10000000000">Any</option>
                <option value="1">Up to 1 hour</option>
                <option value="5">Up to 5 hours</option>
                <option value="10">Up to 10 hours</option>
                <option value="50">Up to 50 hours</option>
                <option value="100">Up to 100 hours</option>
                <option value="500">Up to 500 hours</option>
            </select>
        </div>-->
        <div class="col">
            <label for="minimum-reviews">Reviews</label>
            <select id="minimum-reviews" [(ngModel)]="filters.minimumReviews" class="form-control">
                <option value="0">All</option>
                <option value="5000">Over 5000</option>
                <option value="1000">Over 1000</option>
                <option value="500">Over 500</option>
                <option value="100">Over 100</option>
                <option value="50">Over 50</option>
                <option value="10">Over 10</option>
                <option value="10">Over 10</option>
            </select>
        </div>
        <div class="col">
            <label for="minimum-score">Score</label>
            <select id="minimum-score" [(ngModel)]="filters.minimumScore" class="form-control">
                <option value="0">All</option>
                <option value="90">Over 90%</option>
                <option value="80">Over 80%</option>
                <option value="70">Over 70%</option>
                <option value="60">Over 60%</option>
                <option value="50">Over 50%</option>
            </select>
        </div>

        <!--<div class="col">
            <label for="maximum-hours-played">Order By</label>
            <select id="maximum-hours-played" [(ngModel)]="filters.maximumHoursPlayed" class="form-control">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>10</option>
                <option>50</option>
            </select>
        </div>-->
    </div>

    <div *ngIf="!hasAppsMeetingCriteria && !appsLoading" class="row align-items-center mb-2 mt-5">
        <div *ngIf="hasApps; else noAppsTemplate" class="col">
            <h4 class="text-center">There are no games matching that criteria</h4>
            <p class="text-center">It looks like we can't show any of your games using the filters you've selected.</p>
        </div>

        <ng-template #noAppsTemplate>
            <div class="col">
                <h4 class="text-center">You don't have any games</h4>
                <p class="text-center">It looks like you don't have any games in your game library for us to show.</p>
            </div>
        </ng-template>
    </div>

    <ng-container *ngIf="hasAppsMeetingCriteria then appMetaTemplate"></ng-container>

    <ng-container *ngIf="hasAppsMeetingCriteria && viewMode === 'cards'">
        <div class="row justify-content-center mt-3">
            <ng-container *ngFor="let app of appsMeetingCriteria; index as i">
                <!--<div *ngIf="i % 20 === 0 && i > 0" class="pr-1 pl-1" style="min-width: 380px; max-width: 380px;">
                    <div class="card mb-2">
                        <ng-adsense></ng-adsense>
                    </div>
                </div>-->

                <div class="col pr-1 pl-1" style="min-width: 190px; max-width: 190px;">
                    <div class="card mb-2 border-info" (mouseenter)="selectHoveredApp(app)" (mouseleave)="selectHoveredApp()">
                        <img *ngIf="app.logoId" src="{{app.logoUrl}}" class="card-img-top" alt="{{app.name}}">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-light pl-1 pr-1">
                                <ng-container *ngIf="app.reviewsScore; else noReviewsTemplate">
                                    <p class="mb-0 text-center">
                                        <span class="badge badge-pill badge-primary">{{app.formattedScore}}%</span>
                                        of {{app.formattedTotalReviews}} reviews
                                    </p>
                                </ng-container>
                                <ng-template #noReviewsTemplate>
                                    <p class="text-muted mb-0 text-center">No review data</p>
                                </ng-template>
                            </li>
                            <li class="list-group-item bg-light" style="border-bottom: 0;">
                                <ng-container *ngIf="app.totalPlayTime; else unplayedTemplate">
                                  <p class="mb-0 text-center">
                                      <span class="badge badge-pill badge-warning">{{app.formattedPlaytime}}</span>
                                      played
                                  </p>
                                </ng-container>
                                <ng-template #unplayedTemplate>
                                    <p class="text-muted mb-0 text-center">Unplayed</p>
                                </ng-template>
                            </li>
                        </ul>
                        <div class="card-footer pb-2 pt-2 bg-light">
                            <div class="row">
                                <div class="col-6 pr-1 pl-1">
                                    <a *ngIf="app.storeUrl" href="{{app.storeUrl}}" target="_blank" class="btn btn-outline-info btn-sm bg-white" style="width: 100%;">
                                        Details
                                    </a>
                                </div>
                                <div class="col-6 pr-1 pl-1">
                                    <a [href]="getSteamAppLink(app)" class="btn btn-outline-info btn-sm bg-white" style="width: 100%;">
                                        Launch
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <table *ngIf="hasAppsMeetingCriteria && viewMode === 'table'" class="table table-sm table-borderless table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col" class="text-right">Playtime</th>
                <!--<th scope="col" class="text-right">Completion Time</th>-->
                <th scope="col" class="text-right">Reviews</th>
                <th scope="col" class="text-right">Score</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let app of appsMeetingCriteria; index as i">

                <!--<tr *ngIf="i%20===0 && i>0">
                    <td scope="row" colspan="5">
                        <ng-adsense></ng-adsense>
                    </td>
                </tr>-->

                <tr (mouseenter)="selectHoveredApp(app)" (mouseleave)="selectHoveredApp()">
                    <td scope="row">
                        <img *ngIf="app.logoId" src="{{app.logoUrl}}" class="img-fluid" alt="{{app.name}}">
                    </td>
                    <td>
                        <h5>{{app.name}}</h5>
                        <div *ngIf="isAppHovered(app)" class="container">
                            <div class="row justify-content-start">
                                <div class="col-sm pt-1">
                                    <a *ngIf="app.storeUrl" href="{{app.storeUrl}}" target="_blank" class="font-weight-light mr-2">
                                        View Store Page
                                    </a>
                                    <a [href]="getSteamAppLink(app)" class="font-weight-light">
                                        Launch in Steam
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-right">
                        {{app.totalPlaytime ? app.formattedPlaytime : ''}}
                    </td>
                    <!--<td class="text-right">
                        {{app.completionData && app.completionData.normalCompletionTime ? app.completionData.normalCompletionTimeString : ''}}
                    </td>-->
                    <ng-container *ngIf="app.totalReviews > 0; else noReviewsTemplate">
                      <td class="text-right">
                          {{app.totalReviews}}
                      </td>
                      <td class="text-right">
                          {{app.formattedScore + '%'}}
                      </td>
                    </ng-container>
                    <ng-template #noReviewsTemplate>
                      <td colspan="2" class="text-muted">
                          No review data
                      </td>
                    </ng-template>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <ng-container *ngIf="hasAppsMeetingCriteria then appMetaTemplate"></ng-container>
</div>

<ng-template #appMetaTemplate>
    <div class="row align-items-center mb-2">
        <div class="col">
            <p class="mb-0">Showing {{appsMeetingCriteria.length}} / {{apps.length}} games.</p>
        </div>
        <div class="col">
            <a (click)="switchViewMode()" class="btn btn-outline-info btn-sm float-right">Switch view</a>
        </div>
    </div>
</ng-template>

<div class="modal fade" tabindex="-1" role="dialog" bsModal #progressModal="bs-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Loading Game Data</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="progressModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mb-2">
                        Steam Games:
                        <progressbar [max]="appCount" [value]="loadedApps.length" [striped]="true" [animate]="true">
                            <i>{{loadedApps.length}} / {{appCount}}</i>
                        </progressbar>
                    </div>
                    <!--<div class="row mb-2">
                        Steam Completion Times
                        <progressbar [max]="appCount" [value]="loadedCompletionDataCount" [striped]="true" [animate]="true">
                            <i>{{loadedCompletionDataCount}} / {{appCount}}</i>
                        </progressbar>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
