<div class="container mt-4 text-center">
    <a class="btn btn-dark btn-lg" href="{{steamLoginUrl}}" role="button">Sign in with Steam</a>
    <br>
    <br>
    <h4>Too many games, not enough time</h4>
    <p>With the abundance of great value game deals and bundles offered online, it can be time-consuming searching through your game library for a game worth spending your time on.</p>
    <div class="col mb-4 mx-auto" style="min-width: 300px; max-width: 600px;">
        <img class="img-thumbnail" src="assets/images/screenshot1.png">
    </div>
    <h4>Rated by gamers for gamers</h4>
    <p>With a number of configurable filters and options, comparing the data on your recommended games is easy. Your games library can be analysed and filtered to highlight the most recommended of your games.</p>
    <!-- <div class="col mb-4 mx-auto" style="min-width: 300px;">
        <img class="img-thumbnail" src="assets/images/screenshot2.png">
    </div> -->
</div>
