<div class="bg-light pb-1 pt-1 mb-3">
    <nav class="navbar navbar-light bg-light container">
        <a class="navbar-brand mb-0 h1">
          <img width="30" class="d-inline-block" src="assets/images/logo.png">
          Which Game Now?
        </a>
        <span class="navbar-text">Helping you decide which of your games to try.</span>
    </nav>
</div>

<router-outlet></router-outlet>

<hr>
<div class="container text-center align-bottom">
    <p><small>Powered by Bootstrap | Angular | Steam | Symfony | AWS</small></p>
</div>